<div id="about">
  <div class="left"> <iframe src="http://www.today.com/offsite/today/57062805" scrolling="no" frameborder="0"></iframe> </div>
  <div class="right">
    <h2>About Blind Pass Resort</h2>
    <p><strong>New Ownership as of December 1st 2016.</strong> Blind Pass Resort is a 25 room boutique hotel property, located a short walk away from the water of St Pete Beach, recently rated the 2nd best beach in the US by TripAdvisor! In addition,
      our property was featured on the Today Show as the best "Bargain Stay Hotel in St Pete Beach" (See video at 1:19). Besides a great location, our property offers <strong>FREE WiFi, FREE Parking</strong> and <strong>NO RESORT FEES</strong>.
      Relax by the pool or around the fountains in the courtyard, and when you are ready to explore the town, take advantage of the free beach shuttle which will bring you all around the island. </p>
    <p>We look forward to having you as our guest at Blind Pass Resort! </p>
  </div>
</div>
