<div id="about">
  <div class="left">
    <img src="http://via.placeholder.com/600x400">
  </div>

  <div class="right">
    <h2>About the Malibu Resort</h2>
    <p>We are a family oriented, quaint, vintage, mom and pop resort. Our tranquil grounds host a beautiful 20x40 heated pool with a nice grassy area for relaxing and large wet deck for tanning. Enjoy our free WIFI, pets are welcome (with restrictions) charcoal grill area, registered guests may also enjoy a game of cornhole with your family & friends. Bean Bags are available for checkout at the front desk. Keep in mind shopping is within walking distance, or you may take the Trolley down to the Famous John's Pass, restaurants, etc.. that you would like to visit during your stay! A public playground/basketball court is just across the street and we are only 500 steps from the sparkling Gulf waters! 24 hour resident managers available for your assistance. Meet "Kokomo" the resident Blue & Gold Macaw you may also take home a free picture with her if you choose to!</p>
  </div>
</div>
