<div class="field-amenities">
  <h3 class="field-label">Property Amenities</h3>
  <ul class="field-amenities">
    <li>Courtyard with fountain and light classical music</li>
    <li>Temperature controlled resort style pool with fountain, lounge chairs and tables</li>
    <li>Onsite BBQ facilities</li>
    <li>Onsite washer and dryer for guest use</li>
    <li>Free common area internet</li>
    <li>Free in-room wifi</li>
    <li>Free parking</li>
    <li>Ironing board &amp; iron, coffee makers, fridge and microwaves are available in rooms.</li>
    <li>Free shuttle around the island and beaches</li>
    <li>Discount cards at local restaurants</li>
  </ul>
</div>
