<div id="contact">
  <div class="inner pane-inner">
    <h2>Contact &amp; Attractions</h2> <iframe src="https://www.google.com/maps/d/u/1/embed?mid=z9CATyu2avC8.k0kZmmnFvDfU" width="960" height="400"></iframe>
    <div class="company-information">
      <div class="address">
        <h4>Address</h4>
        <p>7901 Blind Pass Road - St. Pete Beach, FL &nbsp;33706</p>
      </div>
      <div class="email">
        <h4>Email</h4>
        <p><a href="mailto:info@blindpassresort.com">info@blindpassresort.com</a></p>
      </div>
      <div class="phone">
        <h4>Phone</h4>
        <p>1 (877) 350-0053 ext 5</p>
      </div>
    </div>
  </div>
</div>
