<div id="contact">
  <div class="inner pane-inner">
    <h2>Contact</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3528.7102949436426!2d-82.82538148493553!3d27.81868698274584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c2fea7b70446f9%3A0x3d281004f3022d18!2s17001+Gulf+Blvd%2C+North+Redington+Beach%2C+FL+33708!5e0!3m2!1sen!2sus!4v1513885195234" width="600" height="450" frameborder="0" style="border:0" allowfullscreen width="960" height="400"></iframe>
    <div class="company-information">
      <div class="address">
        <h4>Address</h4>
        <p>17001 Gulf Blvd. North Redington Beach, FL. 33708</p>
      </div>
      <div class="email">
        <h4>Email</h4>
        <p><a href="mailto:info@coastalhospitalitygroup.com">info@coastalhospitalitygroup.com</a></p>
      </div>
      <div class="phone">
        <h4>Phone</h4>
        <p>(727) 393-1150</p>
      </div>
    </div>
  </div>
</div>
