<footer id="footer">
  <div class="table">
    <div class="left">
      <ul>
        <li><a href="https://www.facebook.com/people/MalibuResort-Florida/100006828795690" class="facebook" target="_blank">Facebook</a></li>
        <li><a href="https://www.instagram.com/maliburesortmotel/" class="instagram" target="_blank">instagram</a></li>
      </ul>
    </div>
    <div class="center"> <a class="primary-button" href="https://reservations.verticalbooking.com/reservations/index.html?id_stile=15318&headvar=ok&lingua_int=usa&id_albergo=20466&dc=7916">Book a Room</a> </div>
    <div class="right"> <a href="http://www.coastalhospitalitygroup.com/" target="_blank"><img src="assets/images/footer-logo.png" width="165"></a> </div>
  </div>
  <div id="block-block-2" class="block block-block  block-block-2">
    <ul>
      <li><a href="{{ site.baseurl }}/privacy-policy">Privacy Policy</a></li>
      <li><a href="{{ site.baseurl }}/terms-of-use">Terms of Use</a></li>
      <li><a href="{{ site.baseurl }}/refund-policy">Refund Policy</a></li>
    </ul>
  </div>
</footer>
