<footer id="footer">
  <div class="table">
    <div class="left">
      <ul>
        <li><a href="https://www.facebook.com/Blind-Pass-Resort-1077254682336744/" class="facebook" target="_blank">Facebook</a></li>
        <li><a href="https://www.instagram.com/blindpassresort/" class="instagram" target="_blank">instagram</a></li>
      </ul>
    </div>
    <div class="center"> <a class="primary-button" href="/booking">Book a Room</a> </div>
    <div class="right"> <a href="http://www.coastalhospitalitygroup.com/" target="_blank"><img src="assets/images/footer-logo.png" width="165"></a> </div>
  </div>
  <div id="block-block-2" class="block block-block  block-block-2">
    <ul>
      <li><a href="/privacy-policy">Privacy Policy</a></li>
      <li><a href="/terms-of-use">Terms of Use</a></li>
      <li><a href="/refund-policy">Refund Policy</a></li>
    </ul>
  </div>
</footer>
