<header id="header">
  <div id="logo"> <a href="{{ site.baseurl }}/#top" title="Home" rel="home" class="current">
      <img src="assets/images/logo.png" alt="Home">
    </a> </div> <a href="#" class="menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i></a>
  <nav id="main-menu">
    <ul class="menu">
      <li><a href="/#about" title="" class="active">About</a></li>
      <li><a href="/#gallery" title="" class="active">Photos</a></li>
      <li><a href="/#rooms" title="" class="active">Room Options</a></li>
      <li><a href="/#contact" title="" class="active">Contact</a></li>
      <li class="last leaf"><a href="{{ site.baseurl }}/booking">Book Now</a></li>
    </ul>
  </nav>
</header>
