<header id="header">
  <div id="logo"> <a href="/#page" title="Home" rel="home" class="current">
    <img src="assets/images/logo.png" alt="Home">
  </a> </div> <a href="#" class="menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i></a>
  <nav id="main-menu">
    <ul class="menu">
      <li><a href="{{ site.baseurl }}/#about" title="" class="active">About</a></li>
      <li><a href="{{ site.baseurl }}/#gallery" title="" class="active">Photos</a></li>
      <li><a href="{{ site.baseurl }}/#rooms" title="" class="active">Room Options</a></li>
      <li><a href="{{ site.baseurl }}/#contact" title="" class="active">Contact &amp; Attractions</a></li>
      <li class="last leaf"><a href="{{ site.baseurl }}/booking">Book Now</a></li>
    </ul>
  </nav>
</header>
