<div id="intro">
  <div>
    <h2>
      <img src="assets/images/today-logo.png" width="42" alt=""><span><strong> TODAY</strong> Show picks Blind Pass Resort as</span><br>
      St Pete Beach's #1 Bargain Stay Hotel<br><span>Just a short walk from <img src="assets/images/tripadvisor-logo.png" alt="Trip Advisor" width="148"><strong> #2 best beach in the US!</strong></span><br>
    </h2>
    <div class="actions"><a href="/#gallery" class="button current">View Photos</a> <a href="/booking" class="primary-button">Book Now!</a></div>
  </div>
</div>
